
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.menunav ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}

.menunav a {
    text-decoration: none;
    color: white;
    background-color: #45a049;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menunav a:hover {
    background-color: #367836;
}

/* Main */
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
}

/* Secciones */
section {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subtitulo {
    color: #4CAF50;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.5rem;
}

/* Imágenes */
figure {
    text-align: center;
    margin: 1rem 0;
}

figure img {
    border-radius: 8px;
    border: 2px solid #ddd;
}

/* Formulario */
.boton-enviar{
    background-color: #6dbef4;
    color: #FFF;
    width: 100px;
    height: 50px;
    border: none;
}

.boton-enviar:hover{
    background-color: #ede65d;
}

.boton-enviar:active{
    background-color: #62ed66;

}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}


    main {
        padding: 1rem;
    }

    
    
    
}









































