body {
    font-family: Arial, Helvetica, sans-serif; /* Tipografía */
    line-height: 1.5; /*Controla la altura de cada
    línea de texto para mejorar la legibilidad*/
}
header{
    background-color: #9deec4;
    color: black;
    text-align: center;
    /* Text-align sólo funciona en elemento en bloque porque afecta al contenido dentro del bloque.
    No funciona en elementos en línea porque estos ocupan solo el espacio necesario para su contenido. */
}

footer{
    background-color: #9deec4;
}
.menunav{
    text-align: start;
    list-style: none;
}
.enlace{
    text-decoration: none;
    color: #0e0d0d6a;
    font-weight: bold;
    
}
.enlace:hover{
    color: #ed634a;
    text-decoration: underline;
}
.subtitulo{
    font-size: 20px;
    color: #412b2b ;
}
.boton-enviar{
    background-color: #6dbef4;
    color: #FFF;
    width: 100px;
    height: 50px;
    border: none;
}

.boton-enviar:hover{
    background-color: #ede65d;
}

.boton-enviar:active{
    background-color: #62ed66;
    color:black;
}











































